**Q : Lire le fichier 'Category.csv ?**

In [3]:
df = pd.read_table('Category.csv', sep=',')
df.head()

  country       beer_servings  spirit_servings  wine_servings  total_litres_of_pure_alcohol continent
0  Afghanistan    0              0                0             0.0                            Asia
1      Albania   89            132               54             4.9                          Europe
2      Algeria   25              0               14             0.7                          Africa
3      Andorra  245            138              312            12.4                          Europe
4       Angola  217             57               45             5.9                          Africa

**Q : Calculer la taille mémoire occupée par les cols 'continent' et 'country' ?**

In [77]:
#df.continent.memory_usage()
#df.country.memory_usage(deep=True)
df_mem = df[['continent', 'country']]
df_mem.memory_usage(deep=True)

Index           80
continent      744
country      18094
dtype: int64

**Q : Triez la col 'continent' et 'country' ds 1ordre alphabétique croissant et lister pr chacune leur modalités (uniques) ?**  
**Q : Quelle est la différence entre sorted et sort_values ?**

In [73]:

a = df['country'].unique()
b = df['continent'].unique()
print(sorted(a), sorted(b))

['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua & Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia-Herzegovina', 'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Congo', 'Cook Islands', 'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'DR Congo', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania', 'Luxembourg', 'Macedonia', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue', 'North Korea', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russian Federation', 'Rwanda', 'Samoa', 'San Marino', 'Sao Tome & Principe', 'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'South Korea', 'Spain', 'Sri Lanka', 'St. Kitts & Nevis', 'St. Lucia', 'St. Vincent & the Grenadines', 'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Tajikistan', 'Tanzania', 'Thailand', 'Timor-Leste', 'Togo', 'Tonga', 'Trinidad & Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'USA', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe'] ['Africa', 'Asia', 'Europe', 'North America', 'Oceania', 'South America']

**Q : Convertir les cols 'continent' et 'country' en type 'category' et mesurer la taille mémoire occupée par chacune ?**  
**Comparer les tailles avant/après et expliquer la 'surprise obtenue' avec la col 'country' ?**

In [45]:
df['continent'] = df['continent'].astype('category', copy=False)
df['country'] = df['country'].astype('category', copy=False)

df.memory_usage()

Index                             80
country                         7050
beer_servings                   1544
spirit_servings                 1544
wine_servings                   1544
total_litres_of_pure_alcohol    1544
continent                        401
dtype: int64

**Q : Cmnt fonctionne le type 'category' ? Pr cela, testez les commandes suivantes**

In [46]:
df.continent.cat.codes.head()
df.country.cat.codes.head()
df.continent.cat.categories
df.country.cat.categories

Index(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua & Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria',
       ...
       'United Arab Emirates', 'United Kingdom', 'Uruguay', 'Uzbekistan',
       'Vanuatu', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype='object', length=193)

**Maîtriser le type 'category'**  
**Q : Transformer ce dico en df et trier le df selon la col 'quality' ds 1ordre croissant (et inversement) ?**  
dico = {'ID':[100, 101, 102, 103], 'quality':['good', 'very good', 'good', 'excellent']}

In [55]:
dico = {'ID':[100, 101, 102, 103], 'quality':['good', 'very good', 'good', 'excellent']}
df_dico = pd.DataFrame(dico)
df_dico.sort_values(by='quality', ascending=False)

   ID  quality
1  101  very good
0  100       good
2  102       good
3  103  excellent

**Q : Slicez le df pr obtenir que les données dont la col 'quality' indique 'very good' et 'excellent' ?**

In [63]:
df_dico.loc[df_dico.quality == ('excellent','very good'), :]

Empty DataFrame
Columns: [ID, quality]
Index: []

**Q : Revenez sur le fichier games_logs.csv et convertir les col adéquates en Category ?**

**Q : Est-ce qu'on doit convertir la col 'date' de games_logs.csv en type datetime ?**

**Q : Approfondir les méthodes de tri de df ?**
http://cmdlinetips.com/2018/02/how-to-sort-pandas-dataframe-by-columns-and-row/